.ingredients {
  width: 600px;
  height: 912px;
  overflow-y: auto;
  outline: 1px solid rebeccapurple;
}

.container {
  overflow-y: auto;

}

.ingredient {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 24px;
  row-gap: 32px;
}

.card {
  display: flex;
  flex-direction: column;
  width: 272px;
  height: 208px;
  align-items: center;
}

.title {
  margin: 40px 20px;
}

.block {
  margin: 40px 0px 24px 0px;
}

.price {
  display: flex;
  align-items: center;
}

.image {
  width: 240px;
  height: 120px;
}

.part {
  width: 272px;
  height: 48px;
  margin-top: 8px;
  text-align: center;
}
