  .title {
    max-width: 1240px;
    margin: 40px auto 20px;
  }

  .name {
    overflow: hidden; 
    height: 30px;
  }

  .feed {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 60px;
    max-width: 1240px;
    height: 70vh;
    margin: 0 auto 0;
  }

  .card {
    height: 200px;
    list-style-type: none;
    background-color: #1C1C21;
    border-radius: 40px;
    margin-bottom: 16px;
    margin-top: 0;
    padding: 24px;
  }

  .data {
    display: flex;
    justify-content: space-between;
    text-align: center;
  }

  .total {
    display: flex;
    justify-content: space-between;
    margin-top: 24px;
  }

  .price {
    display: flex;
    text-align: center;
  }

  .img {
    display: block;
    height: 56px;
    width: 56px;
    min-width: 56px;
    background-color: #131316;
    border: 2px solid #801ab2;
    border-radius: 50%;
    box-sizing: border-box;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
    
  .img:nth-child(2) {
    margin-left: -200px;
  }
  .img:nth-child(3) {
    margin-left: -200px;
  }
  .img:nth-child(4) {
    margin-left: -200px;
  }
  .img:nth-child(5) {
    margin-left: -200px;
  }
  .img:nth-child(6) {
    margin-left: -200px;
  }


  .status {
    display: inline-grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 35px;
    width: 100%;
  }

  .table {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 8px;
    column-gap: 2px;
    padding: 0;
    margin: 0;
    height: 152px;
  }

  .ready {
    color: #00CCCC;
    list-style-type: none;
  }

  .summary {
    margin-top: 60px;
  }